extends ../templates/template

//- Block nos reemplazará el contenido dentro de ese método
//-block head
//-title Pug Templates 


//- Append nos agrega al último
//- append head
    title Pug Templates

prepend head 
    title Pug Templates
block content 
    h1 Lorem Ipsum 
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, tempore pariatur at recusandae reiciendis distinctio assumenda, eum ad numquam mollitia odio. Et sit quia maiores est, necessitatibus nobis nostrum. In?

